.form-content {
  padding-top: 54px;
  padding-bottom: 26px;
  background-color: $white;
  color: $dark-blue-desaturarion;
}

.form-content__subtitle {
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
}
