.page-header {
  position: relative;
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 23px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  line-height: 32px;
}
.page-header--open {
  background-color: #283645;
  box-shadow: 0px 1px 0px 0px #000;
}
@media (min-width: 660px) {
  .page-header {
    padding-top: 27px;
    padding-bottom: 43px;
  }
}

.page-header__logo {
  display: block;
  margin-right: auto;
  color: #ffffff;
  line-height: 0;
  text-decoration: none;
}

.page-header__logo-img:hover path {
  fill: #d22856;
}
.page-header__logo-img:active path {
  fill: #ffffff;
  opacity: 0.3;
}
.page-header__logo-img--tablet, .page-header__logo-img--desktop {
  display: none;
}
@media (min-width: 660px) {
  .page-header__logo-img--mobile, .page-header__logo-img--desktop {
    display: none;
  }
  .page-header__logo-img--tablet {
    display: block;
  }
}
@media (min-width: 1100px) {
  .page-header__logo-img--mobile, .page-header__logo-img--tablet {
    display: none;
  }
  .page-header__logo-img--desktop {
    display: block;
  }
}

.page-header__toggle {
  position: relative;
  padding: 0;
  width: 50px;
  height: 24px;
  background-color: transparent;
  border: none;
}
.page-header__toggle::before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  border-radius: 1px;
  box-shadow: 0 10px 0 #ffffff, 0 -10px 0 #ffffff;
}
.page-header__toggle:hover::before {
  background-color: #d22856;
  box-shadow: 0 10px 0 #d22856, 0 -10px 0 #d22856;
}
.page-header__toggle:active::before {
  opacity: 0.3;
}
@media (min-width: 1100px) {
  .page-header__toggle {
    display: none;
  }
}

.page-header--open .page-header__toggle {
  width: 23px;
  height: 23px;
}
.page-header--open .page-header__toggle::before, .page-header--open .page-header__toggle::after {
  position: absolute;
  top: 10px;
  left: -4px;
  width: 30px;
  transform: rotate(45deg);
  box-shadow: none;
  border-radius: 0;
}
.page-header--open .page-header__toggle::after {
  content: "";
  height: 4px;
  background-color: #ffffff;
  transform: rotate(-45deg);
}
.page-header--open .page-header__toggle:hover::before, .page-header--open .page-header__toggle:hover::after {
  background-color: #d22856;
}
.page-header--open .page-header__toggle:active::before, .page-header--open .page-header__toggle:active::after {
  opacity: 0.3;
}

.page-header__nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 280px;
}
@media (min-width: 660px) {
  .page-header__nav {
    width: 620px;
  }
}
@media (min-width: 1100px) {
  .page-header__nav {
    width: 940px;
  }
}

.page-header__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 1100px) {
  .page-header__list {
    display: flex;
    justify-content: space-between;
    width: 620px;
    background-color: transparent;
  }
}

.page-header--open .page-header__list {
  display: block;
  position: absolute;
  top: 70px;
  left: 0;
  width: 320px;
  background-color: #283645;
}
@media (min-width: 660px) {
  .page-header--open .page-header__list {
    top: 111px;
    width: 660px;
  }
}

@media (max-width: 1099px) {
  .page-header__item {
    margin-bottom: 1px;
    box-shadow: 0px 1px 0px 0px #000, 0px 1px 0px 0px rgba(255, 255, 255, 0.15) inset;
  }
}

.page-header__link {
  display: block;
  position: relative;
  padding: 15px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.page-header__link:hover {
  color: #d22856;
}
.page-header__link:active {
  opacity: 0.3;
}
@media (min-width: 1100px) {
  .page-header__link {
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
  }
  .page-header__link--current::before {
    content: "";
    position: absolute;
    bottom: -11px;
    width: calc(100% - 20px);
    height: 2px;
    background-color: #ffffff;
  }
  .page-header__link--current:hover::before {
    background-color: #d22856;
  }
  .page-header__link--current:active::before {
    background-color: #ffffff;
  }
  .page-header__link:hover {
    color: #d22856;
  }
  .page-header__link:active {
    color: #ffffff;
    opacity: 0.3;
  }
}

.page-footer {
  padding: 40px 0;
  background-color: #ffffff;
  color: #283645;
}
@media (min-width: 660px) {
  .page-footer {
    padding-top: 36px;
    padding-bottom: 51px;
  }
}
@media (min-width: 1100px) {
  .page-footer {
    padding-top: 70px;
    padding-bottom: 75px;
  }
}

.page-footer__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 41px;
  margin: 0 auto;
  width: 280px;
}
@media (min-width: 660px) {
  .page-footer__center {
    width: 620px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1100px) {
  .page-footer__center {
    width: 940px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: block;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 178px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
}

.social__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  color: #283645;
  line-height: 18px;
  text-decoration: none;
}
@media (min-width: 1100px) {
  .developer {
    width: 153px;
  }
}

.slider__card {
  margin: 0 auto;
}
@media (min-width: 660px) {
  .slider__card {
    width: 620px;
  }
}
@media (min-width: 1100px) {
  .slider__card {
    width: 940px;
  }
}

.slider__card:not(:first-child) {
  display: none;
}

.slider__toggles {
  display: block;
  margin: 0 auto;
  width: 56px;
}
.slider__toggles--desktop {
  display: none;
}
@media (min-width: 1100px) {
  .slider__toggles--desktop {
    display: block;
  }
  .slider__toggles--mobile {
    display: none;
  }
}

.download {
  background-image: url("../img/page-content/download/hand-back--mobile.png");
  background-position: center 90px;
  background-repeat: no-repeat;
}
@media (min-width: 660px) {
  .download {
    padding: 0 20px;
    padding-top: 93px;
    padding-bottom: 114px;
    background-image: url("../img/page-content/download/hand-back--tablet.png");
    background-position: center bottom;
  }
}
@media (min-width: 1100px) {
  .download {
    padding: 0 20px;
    padding-top: 99px;
    padding-bottom: 125px;
    background-image: url("../img/page-content/download/hand-back--desktop.png");
    background-position: center bottom;
  }
}

@media (min-width: 660px) {
  .download__center {
    margin: 0 auto;
    width: 620px;
  }
}
@media (min-width: 1100px) {
  .download__center {
    margin: 0 auto;
    width: 940px;
  }
}

.download__lead {
  margin: 0 auto;
  margin-top: 23px;
  margin-bottom: 315px;
  width: 280px;
}
@media (min-width: 660px) {
  .download__lead {
    margin: 0;
    margin-bottom: 31px;
    padding: 0 30px;
    padding-top: 19px;
    width: 300px;
  }
}
@media (min-width: 1100px) {
  .download__lead {
    margin-bottom: 36px;
    padding-top: 0;
  }
}

.platform {
  padding: 20px;
  padding-top: 28px;
  padding-bottom: 31px;
  background-color: #1d2631;
}
@media (min-width: 660px) {
  .platform {
    padding: 0;
    width: 300px;
    background-color: transparent;
  }
}

.platform__button {
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
  padding: 15px;
  width: 280px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  border: 3px solid #ffffff;
  border-radius: 29px;
}
.platform__button:hover {
  color: #d22856;
  background-color: #ffffff;
}
.platform__button:active {
  color: rgba(210, 40, 86, 0.3);
}
@media (min-width: 660px) {
  .platform__button {
    margin-bottom: 46px;
    padding: 16px;
  }
}
@media (min-width: 1100px) {
  .platform__button {
    margin-bottom: 67px;
  }
}

.platform__center {
  margin: 0 auto;
  width: 280px;
}
@media (min-width: 660px) {
  .platform__center {
    width: auto;
  }
}

.platform__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 21px;
  padding: 0;
  width: 204px;
  list-style: none;
}
@media (min-width: 660px) {
  .platform__list {
    margin-bottom: 32px;
  }
}
@media (min-width: 660px) {
  .platform__list {
    margin-bottom: 52px;
  }
}

.platform__link {
  display: block;
  line-height: 0;
}
.platform__link:hover {
  opacity: 0.6;
}
.platform__link:active {
  opacity: 0.3;
}

.platform__description {
  margin: 0 auto;
  max-width: 280px;
  font-weight: 300;
  text-align: center;
}
@media (min-width: 660px) {
  .platform__description {
    max-width: 100%;
  }
}

.advantages {
  position: relative;
  padding-top: 41px;
  padding-bottom: 318px;
  background-color: #ffffff;
  background-image: url("../img/page-content/advantages/advantages-background--mobile.svg");
  background-repeat: no-repeat;
  background-size: 1172px 828px;
  background-position: center bottom;
  color: #283645;
}
@media (min-width: 660px) {
  .advantages {
    padding-top: 46px;
    padding-bottom: 42px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url("../img/page-content/advantages/advantages-background--tablet.svg");
    background-size: 1200px 510px;
  }
}
@media (min-width: 1100px) {
  .advantages {
    padding-top: 62px;
    padding-bottom: 51px;
    padding-left: 65px;
    padding-right: 65px;
    background-image: url("../img/page-content/advantages/advantages-background--desktop.svg");
    background-size: 100vw auto;
  }
}

.advantages__lead-box {
  margin-bottom: 112px;
  padding: 0 20px;
}
@media (min-width: 660px) {
  .advantages__lead-box {
    margin-bottom: 106px;
    padding: 0;
  }
}
@media (min-width: 1100px) {
  .advantages__lead-box {
    margin-bottom: 57px;
    padding: 0;
  }
}

.advantages__lead {
  margin: 0;
}

.advantages__lead:not(:last-child) {
  margin-bottom: 29px;
}
@media (min-width: 660px) {
  .advantages__lead:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 660px) {
  .advantages__center {
    position: relative;
    margin: 0 auto;
    width: 620px;
  }
}
@media (min-width: 1100px) {
  .advantages__center {
    width: 940px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0 20px;
  list-style: none;
}
@media (min-width: 660px) {
  .advantages__list {
    margin-left: auto;
    padding: 0;
    width: 310px;
  }
}
@media (min-width: 1100px) {
  .advantages__list {
    width: auto;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 31px;
}

.advantages__image {
  display: none;
}
@media (min-width: 1100px) {
  .advantages__image {
    display: block;
  }
}

.advantages__image--big {
  display: block;
  position: absolute;
  left: 50%;
  bottom: -43px;
  transform: translateX(-50%);
  width: 157px;
}
@media (min-width: 660px) {
  .advantages__image--big {
    width: 268px;
    left: 0;
    bottom: -108px;
    transform: none;
  }
}
@media (min-width: 1100px) {
  .advantages__image--big {
    display: none;
  }
}

.advantages__image-src {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.advantages__title {
  margin: 0;
  margin-bottom: 12px;
  color: #000000;
  font-size: 18px;
  text-align: center;
}
@media (min-width: 660px) {
  .advantages__title {
    text-align: left;
  }
}

.advantages__text {
  margin: 0;
  text-align: center;
}
@media (min-width: 660px) {
  .advantages__text {
    text-align: left;
  }
}

.research {
  display: none;
}
@media (min-width: 660px) {
  .research {
    display: block;
    position: relative;
    z-index: 1;
    padding-top: 95px;
    padding-bottom: 43px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #ffffff;
    color: #283645;
  }
}
@media (min-width: 1100px) {
  .research {
    display: block;
    position: relative;
    z-index: 1;
    padding-top: 111px;
    padding-bottom: 112px;
    padding-right: 65px;
    padding-left: 65px;
    background-color: #f2f2f2;
  }
}

.research__center {
  margin: 0 auto;
  width: 620px;
}
@media (min-width: 1100px) {
  .research__center {
    width: 940px;
  }
}

.research__wrapper {
  margin-left: auto;
  width: 310px;
}
@media (min-width: 1100px) {
  .research__wrapper {
    width: 570px;
  }
}

.research__lead {
  display: block;
  margin: 0;
  margin-bottom: 11px;
  width: 170px;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
}
@media (min-width: 1100px) {
  .research__lead {
    margin-bottom: 26px;
    width: 100%;
    line-height: 30px;
  }
}

.research__text {
  margin: 0;
  margin-bottom: 10px;
}
@media (min-width: 1100px) {
  .research__text {
    margin-bottom: 30px;
  }
}

.research__link {
  color: #d22856;
}

.reviews {
  position: relative;
  z-index: 1;
  padding-top: 41px;
  padding-bottom: 14px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #ffffff;
  color: #283645;
}
@media (min-width: 660px) {
  .reviews {
    z-index: 0;
    padding-top: 79px;
    padding-bottom: 0;
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (min-width: 1100px) {
  .reviews {
    padding-top: 184px;
    padding-bottom: 33px;
    padding-right: 65px;
    padding-left: 65px;
  }
}

.reviews__item {
  display: flex;
  flex-direction: column;
  width: 280px;
}
@media (min-width: 660px) {
  .reviews__item {
    width: 620px;
  }
}
@media (min-width: 1100px) {
  .reviews__item {
    width: 940px;
  }
}

.reviews__text {
  order: 2;
  margin: 0;
  margin-bottom: 44px;
  text-align: center;
}
@media (min-width: 660px) {
  .reviews__text {
    order: 1;
    margin-bottom: 35px;
  }
}
@media (min-width: 1100px) {
  .reviews__text {
    margin-bottom: 36px;
  }
}

.reviews__author {
  order: 1;
  margin: 0;
  margin-bottom: 13px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 660px) {
  .reviews__author {
    order: 2;
    margin: 0;
    font-size: 20px;
  }
}
@media (min-width: 1100px) {
  .reviews__author {
    order: 2;
    margin-bottom: 2px;
    font-size: 24px;
  }
}

.reviews__about-author {
  display: none;
}
@media (min-width: 660px) {
  .reviews__about-author {
    display: block;
    order: 3;
    margin: 0;
    margin-bottom: 39px;
    color: #283645;
    line-height: 30px;
    text-align: center;
  }
}
@media (min-width: 1100px) {
  .reviews__about-author {
    margin: 0;
    font-size: inherit;
  }
}

.prices {
  padding-top: 127px;
  padding-bottom: 49px;
  background-color: #ffffff;
  background-image: url("../img/page-content/price/price-background--mobile.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #283645;
}
@media (min-width: 660px) {
  .prices {
    padding-top: 114px;
    padding-bottom: 70px;
    background-image: url("../img/page-content/price/price-background--tablet.svg");
    background-size: 1200px 400px;
  }
}
@media (min-width: 1100px) {
  .prices {
    padding-top: 160px;
    padding-bottom: 98px;
    background-image: url("../img/page-content/price/price-background--desktop.svg");
    background-size: 100vw auto;
  }
}

.prices__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}
@media (min-width: 660px) {
  .prices__slider {
    display: block;
  }
}

@media (min-width: 660px) {
  .prices__toggles {
    display: none;
  }
}

.table {
  margin-bottom: 45px;
  width: 840px;
  text-align: center;
  border-collapse: collapse;
}
@media (min-width: 660px) {
  .table {
    margin: 0 auto;
    width: 620px;
  }
}
@media (min-width: 1100px) {
  .table {
    margin: 0 auto;
    width: 940px;
  }
}

.table__title {
  padding: 12px;
  padding-bottom: 29px;
  background-color: #283645;
  color: #ffffff;
  border: 2px solid #e5e5e5;
  border-top: none;
  border-bottom: none;
}
.table__title--option {
  display: none;
}
@media (min-width: 660px) {
  .table__title {
    padding: 10px;
    padding-bottom: 8px;
  }
  .table__title--option {
    display: table-cell;
    background-color: transparent;
    border: none;
  }
}
@media (min-width: 1100px) {
  .table__title {
    padding: 15px;
    padding-bottom: 20px;
  }
}

.table__tariff-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}
@media (min-width: 1100px) {
  .table__tariff-name {
    font-size: 18px;
  }
}

.table__price {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
@media (min-width: 1100px) {
  .table__price {
    font-size: 24px;
  }
}

.table__item {
  padding: 25px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
  border: 2px solid #e5e5e5;
}
.table__item--option {
  display: none;
}
@media (min-width: 660px) {
  .table__item {
    padding: 8px 15px;
    width: 155px;
    text-transform: none;
  }
  .table__item--option {
    display: table-cell;
  }
}
@media (min-width: 660px) {
  .table__item {
    padding: 16px;
    width: 235px;
  }
  .table__item--option {
    padding: 14px 22px;
  }
}

@media (min-width: 660px) {
  .table__content {
    display: none;
  }
}

.table__status {
  display: block;
  width: 27px;
  height: 27px;
  background-image: url("../../img/page-content/table/no.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.table__status--on {
  width: 31px;
  height: 21px;
  background-image: url("../../img/page-content/table/yes.svg");
}

.contacts {
  padding-top: 44px;
  background-color: #ffffff;
  color: #283645;
}
@media (min-width: 660px) {
  .contacts {
    padding-top: 43px;
  }
}
@media (min-width: 1100px) {
  .contacts {
    padding-top: 59px;
  }
}

.contacts__lead {
  margin: 0;
  margin-bottom: 34px;
}
@media (min-width: 1100px) {
  .contacts__lead {
    margin-bottom: 40px;
  }
}

.contacts__wrapper {
  margin-bottom: 15px;
}
@media (min-width: 660px) {
  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 41px;
    margin-bottom: 23px;
    padding: 0 39px;
  }
}
@media (min-width: 660px) {
  .contacts__wrapper {
    margin-bottom: 20px;
  }
}

.contacts__item {
  line-height: normal;
}
@media (min-width: 660px) {
  .contacts__item {
    margin: 0 auto;
    width: 250px;
  }
}
@media (min-width: 1100px) {
  .contacts__item--mail {
    order: 3;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 19px;
}

.contacts__title {
  margin: 0;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 660px) {
  .contacts__title {
    margin-bottom: 4px;
  }
}

.contacts__link {
  display: block;
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  text-decoration: none;
}

.contacts__map-box {
  position: relative;
  height: 200px;
}
@media (min-width: 660px) {
  .contacts__map-box {
    height: 374px;
  }
}
@media (min-width: 1100px) {
  .contacts__map-box {
    height: 502px;
  }
}

.contacts__map-box::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 52px;
  background-image: url("../img/page-content/contacts/triangle.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media (min-width: 660px) {
  .contacts__map-box::after {
    height: 68px;
  }
}
@media (min-width: 1100px) {
  .contacts__map-box::after {
    height: 103px;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
  padding-top: 28px;
  min-height: 142px;
}
@media (min-width: 660px) {
  .hero {
    padding-top: 66px;
  }
}
@media (min-width: 1100px) {
  .hero {
    padding-top: 59px;
  }
}

.hero__title {
  margin: 0 auto;
  width: 230px;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}
@media (min-width: 660px) {
  .hero__title {
    margin-bottom: 128px;
    width: 500px;
    font-size: 50px;
  }
}
@media (min-width: 1100px) {
  .hero__title {
    margin-bottom: 89px;
    width: 800px;
  }
}

.hero__wrapper {
  padding-top: 44px;
  padding-bottom: 50px;
  background-color: #ffffff;
  color: #283645;
}
@media (min-width: 660px) {
  .hero__wrapper {
    padding-top: 91px;
    padding-bottom: 77px;
  }
}
@media (min-width: 1100px) {
  .hero__wrapper {
    padding-bottom: 79px;
  }
}

.hero__subtitle {
  margin: 0 auto;
  width: 250px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 660px) {
  .hero__subtitle {
    width: 460px;
    font-size: 18px;
  }
}
@media (min-width: 1100px) {
  .hero__subtitle {
    width: 600px;
  }
}

.panorama {
  position: relative;
  background-color: #ffffff;
}

.panorama__title-box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
}
@media (min-width: 660px) {
  .panorama__title-box {
    width: 620px;
  }
}
@media (min-width: 1100px) {
  .panorama__title-box {
    width: 940px;
  }
}

.panorama__title {
  margin: 0;
  margin-left: auto;
  padding: 6px 19px;
  width: 140px;
  background-color: #d22856;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.panorama__image-wrapper {
  width: 100%;
  height: 137px;
}
@media (min-width: 660px) {
  .panorama__image-wrapper {
    height: 509px;
  }
}
@media (min-width: 1100px) {
  .panorama__image-wrapper {
    height: 507px;
  }
}

.panorama__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.panorama__comment {
  margin: 0 auto;
  width: 280px;
}
@media (min-width: 660px) {
  .panorama__comment {
    width: 620px;
  }
}
@media (min-width: 1100px) {
  .panorama__comment {
    width: 940px;
  }
}

.comment {
  padding-top: 18px;
  padding-bottom: 19px;
  padding-right: 10px;
  padding-left: 17px;
  background-color: #f2f2f2;
  color: #283645;
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 660px) {
  .comment {
    display: grid;
    grid-template-rows: auto 1fr 24px;
    flex-grow: 1;
    padding-top: 23px;
    padding-bottom: 25px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.comment__data {
  margin: 0;
}

.comment__author {
  font-weight: 700;
}

.comment__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.comment__text {
  margin: 0;
  margin-bottom: 11px;
}

.comment__like {
  color: #d22856;
  font-size: 12px;
  text-transform: uppercase;
}

.gallery {
  padding-top: 20px;
  padding-bottom: 39px;
  background-color: #ffffff;
}
@media (min-width: 660px) {
  .gallery {
    padding-top: 50px;
    padding-bottom: 64px;
  }
}
@media (min-width: 1100px) {
  .gallery {
    padding-bottom: 58px;
  }
}

.gallery__list {
  margin: 0 auto;
  padding: 0;
  width: 280px;
}
@media (min-width: 660px) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 620px;
  }
}
@media (min-width: 1100px) {
  .gallery__list {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 54px;
    width: 940px;
  }
}

.gallery__item:not(:last-child) {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media (min-width: 660px) {
  .gallery__item:not(:last-child) {
    margin: 0;
  }
}

.gallery__image-wrapper {
  width: 280px;
  height: 180px;
}
@media (min-width: 660px) {
  .gallery__image-wrapper {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 1100px) {
  .gallery__image-wrapper {
    width: 300px;
    height: 400px;
  }
}

.gallery__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.correction {
  background-color: #ffffff;
  color: #283645;
}

.correction__title {
  margin: 0 auto;
  margin-bottom: 43px;
  width: 280px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 660px) {
  .correction__title {
    margin-bottom: 70px;
    width: 450px;
    font-size: 18px;
  }
}

.correction__wrapper {
  padding-top: 20px;
  padding-bottom: 41px;
  background-color: #f2f2f2;
}
@media (min-width: 660px) {
  .correction__wrapper {
    padding-top: 57px;
    padding-bottom: 54px;
  }
}
@media (min-width: 1100px) {
  .correction__wrapper {
    margin: 0 auto;
    padding-bottom: 57px;
    padding-right: 60px;
    padding-left: 80px;
    width: 940px;
  }
}

@media (min-width: 660px) {
  .correction__center {
    display: flex;
    column-gap: 48px;
    margin: 0 auto;
    width: 620px;
  }
}
@media (min-width: 1100px) {
  .correction__center {
    column-gap: 90px;
    margin: 0 auto;
    width: 100%;
  }
}

.correction__image-wrapper {
  margin: 0 auto;
  margin-bottom: 42px;
  width: 280px;
  height: 374px;
}
@media (min-width: 660px) {
  .correction__image-wrapper {
    margin: 0;
    width: 300px;
    height: 400px;
  }
}

.correction__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.correction__settings {
  margin: 0 auto;
  width: 280px;
}
@media (min-width: 660px) {
  .correction__settings {
    margin: 0;
    width: 50%;
  }
}

.correction__lines {
  margin-bottom: 73px;
}

.correction__line--size, .correction__line--tint, .correction__line--contrast {
  display: none;
}
@media (min-width: 660px) {
  .correction__line--size, .correction__line--tint, .correction__line--contrast {
    display: block;
  }
  .correction__line--main {
    display: none;
  }
}

@media (min-width: 1100px) {
  .correction__button-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.correction__button {
  display: block;
  padding: 15px;
  width: 100%;
  color: #d22856;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  background-color: transparent;
  border: 3px solid #d22856;
  border-radius: 30px;
}
@media (min-width: 1100px) {
  .correction__button {
    width: auto;
    min-width: 183px;
  }
}

.correction__button:not(:last-child) {
  margin-bottom: 12px;
}
@media (min-width: 1100px) {
  .correction__button:not(:last-child) {
    margin: 0;
  }
}

.button--disabled {
  opacity: 0.1;
  color: #283645;
  border-color: #283645;
}

.form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 660px) {
  .form {
    column-gap: 74px;
    row-gap: 70px;
    margin: 0 auto;
    width: 620px;
  }
}
@media (min-width: 1100px) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
  }
}

.form__button-wrapper {
  order: 6;
}
@media (min-width: 660px) {
  .form__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.form__description {
  margin: 0 auto;
  width: 280px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 660px) {
  .form__description {
    margin: 0;
    width: auto;
  }
}

.form__accent {
  color: #d22856;
}

.form__text {
  display: none;
}

.form__button {
  display: block;
  margin: 0 auto;
  margin-bottom: 36px;
  padding: 14px;
  width: 280px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  background-color: #2aab6d;
  border: none;
}
@media (min-width: 660px) {
  .form__button {
    margin: 0;
    min-width: 296px;
  }
}

.form-content {
  padding-top: 44px;
  padding-bottom: 16px;
  background-color: #ffffff;
  color: #283645;
}
@media (min-width: 660px) {
  .form-content {
    padding-top: 91px;
    padding-bottom: 50px;
  }
}

.form-content__subtitle {
  margin: 0 auto;
  margin-bottom: 35px;
  width: 280px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 660px) {
  .form-content__subtitle {
    margin-bottom: 74px;
    width: 480px;
    font-size: 18px;
  }
}
@media (min-width: 1100px) {
  .form-content__subtitle {
    margin-bottom: 62px;
    width: 760px;
  }
}

.form-content__text {
  display: none;
}
@media (min-width: 660px) {
  .form-content__text {
    display: inline;
  }
}

.form-group {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 112px;
  padding-bottom: 44px;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  border: none;
}
.form-group--private {
  order: 1;
  padding-top: 0;
}
.form-group--contacts {
  order: 3;
  padding-top: 32px;
}
.form-group--emotion {
  order: 5;
  margin-bottom: 52px;
  padding-top: 74px;
  padding-bottom: 0;
}
.form-group--achievements {
  order: 2;
  background-color: #f2f2f2;
}
.form-group--app {
  order: 4;
  background-color: #f2f2f2;
}
@media (min-width: 660px) {
  .form-group {
    padding: 60px 50px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
  }
  .form-group--private {
    padding: 0;
    border: none;
  }
  .form-group--app {
    order: 2;
  }
  .form-group--achievements {
    order: 4;
  }
}
@media (min-width: 1100px) {
  .form-group--private {
    padding-top: 23px;
    width: 433px;
  }
  .form-group--app {
    padding: 54px 74px;
    width: 431px;
  }
  .form-group--emotion {
    margin-bottom: 0;
  }
}

.form-group__wrapper {
  margin: 0 auto;
  width: 280px;
}
@media (min-width: 660px) {
  .form-group__wrapper {
    width: 100%;
  }
}

.form-group__text {
  color: #d22856;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form-group__title {
  position: absolute;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  width: 230px;
  color: #d22856;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 660px) {
  .form-group__title {
    position: static;
    display: block;
    padding: 4px 25px;
    width: auto;
    transform: none;
  }
}
@media (min-width: 660px) {
  .form-group__title {
    padding: 4px 31px;
  }
}

.form-group--contacts .form-group__title {
  display: none;
}
@media (min-width: 1100px) {
  .form-group--contacts .form-group__title {
    display: inline;
  }
}

.form-group__input-private,
.form-group__input-contacts {
  padding: 14px 20px;
  color: #283645;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
}

.form-group__input-private::placeholder,
.form-group__input-contacts::placeholder,
.form-group__textarea::placeholder {
  color: #283645;
  font-size: 18px;
  line-height: 30px;
}

.form-group__text--pick {
  color: #283645;
  font-size: 18px;
  text-transform: none;
}

.form-group__textarea {
  display: block;
  margin: 0 auto;
  padding: 13px 20px;
  width: 280px;
  min-height: 197px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #283645;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
}
@media (min-width: 660px) {
  .form-group__textarea {
    margin: 0;
    width: 100%;
    min-height: 189px;
  }
}

.popup {
  display: none;
  padding: 49px;
  padding-bottom: 0;
  background-color: #ffffff;
  color: #283645;
}

.popup__title {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.popup__text {
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
  text-align: center;
}

.popup__wrapper {
  padding: 52px 20px;
  background-color: #f2f2f2;
}

.popup__button {
  padding: 25px;
  background-color: #2aab6d;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 1px;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
  src: url("../fonts/opensans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2");
  src: url("../fonts/opensansbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2");
  src: url("../fonts/opensanslight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-body {
  margin: 0;
  padding: 0;
  background-color: #1e394c;
  background-image: url("../img/back--mobile.png");
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-position: top center;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  overflow-x: hidden;
}
@media (min-width: 660px) {
  .page-body {
    background-image: url("../img/back--tablet.png");
    background-size: auto 18%;
  }
}
@media (min-width: 1100px) {
  .page-body {
    font-size: 18px;
    line-height: 30px;
    background-image: url("../img/back--desktop.png");
    background-size: 2600px auto;
  }
}

.lead {
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
  text-align: center;
}
@media (min-width: 660px) {
  .lead {
    font-size: 40px;
  }
}
@media (min-width: 1100px) {
  .lead {
    font-size: 50px;
    line-height: normal;
  }
}
/*# sourceMappingURL=style.css.map */