.page-header {
  position: relative;
  margin: 0 auto;
  padding: 21px 20px;
  width: 100%;
  background-color: $black-header;
  font-size: 18px;
  line-height: 32px;

  &--open {
    background-color: $dark-blue-desaturarion;
  }

  @media (min-width: $tablet-width) {
    padding: 27px 20px;
    padding-bottom: 43px;
  }

}

// Логотип

.page-header__logo {
  display: block;
  margin-right: auto;
  color: $white;
  line-height: 0;
  text-decoration: none;
}

.page-header__logo-img {

  // Скрывает логотип для планшета и десктопа

  &--tablet,
  &--desktop {
    display: none;
  }

  // Скрывает логотип для смартфона и десктопа

  @media (min-width: $tablet-width) {
    &--mobile,
    &--desktop {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  // Скрывает логотип для смартфона и планшета

  @media (min-width: $desktop-width) {
    &--mobile,
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}

// Кнопка меню

.page-header__toggle {
  padding: 0;
  width: 50px;
  height: 24px;
  background-color: transparent;
  border: none;

  @media (min-width: $desktop-width) {
    display: none;
  }

}

.page-header__toggle-ico {
  display: block;
  width: 100%;
  height: 4px;
  background-color: $white;
  border-radius: 1px;
}

// Навигация

.page-header__nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: auto;
  max-width: $mobile-max;

  @media (min-width: $tablet-width) {
    max-width: $tablet-max;
  }

  @media (min-width: $desktop-width) {
    max-width: 940px;
  }

}

.page-header__list {
  display: none;
  margin: 0;
  padding: 0;
  width: auto;
  list-style: none;
  background-color: $dark-blue-desaturarion;

  &--open {
    display: block;
    position: absolute;
    top: 66px;
    left: 0;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    &--open {
      top: 110px;
    }
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 620px;
    background-color: transparent;
  }

}

.page-header__link {
  display: block;
  padding: 15px;
  color: $white;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
  }

}
