.page-footer {
  padding: 40px 0;
  background-color: $white;
  color: $dark-blue-desaturarion;

  @media (min-width: $tablet-width) {
    padding-top: 36px;
    padding-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.page-footer__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 36px;
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 620px;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    flex-direction: row;
  }
}

.page-footer__logo {
  display: block;
  color: $dark-blue-desaturarion;

  &:hover {
    color: $pink;
  }

  &:active {
    color: inherit;
    opacity: 0.3;
  }

  @media(min-width: $tablet-width) {
    margin-right: 76px;
    margin-bottom: auto;
  }

  @media(min-width: $desktop-width) {
    margin-right: 240px;
  }
}

.page-footer__logo-img {
  &--desktop {
    display: none;
  }

  @media (min-width: $desktop-width) {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}

// Разработчик

.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  color: $dark-blue-desaturarion;
  line-height: 18px;
  text-decoration: none;

  &:hover,
  &:hover .developer__logo {
    color: $dark-blue-desaturarion;
  }

  &:active,
  &:active .developer__logo {
    fill: $dark-blue-desaturarion;
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    width: 153px;
  }
}

.developer__logo {
  color: $pink;
}
