$white: #ffffff;
$black: #000000;
$black-header: rgba(0, 0, 0, 0.3);

$dark-blue: #1e394c;
$dark-blue-desaturarion: #283645;
$dark-blue-desaturarion-op: rgb(40, 54, 69, 0.1);

$dark-grey: #1d2631;
$grey: #f2f2f2;
$grey-2: #e5e5e5;

$pink: #d22856;
$green: #2aab6d;
$dark-green: #1c9b5e;

$desktop-width: 1100px;
$tablet-width: 660px;
