.comment {
  padding-top: 18px;
  padding-bottom: 19px;
  padding-right: 10px;
  padding-left: 17px;
  background-color: $grey;
  color: $dark-blue-desaturarion;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 120px;
    grid-template-rows: auto 1fr 24px;
    flex-grow: 1;
    padding-top: 24px;
    padding-bottom: 23px;
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 24px;
    padding-bottom: 23px;
    padding-right: 31px;
    padding-left: 27px;
  }
}

.comment__data {
  grid-area: data;
  margin: 0;
}

.comment__author {
  font-weight: 700;
}

.comment__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.comment__text {
  grid-area: text;
  margin: 0;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.comment__like {
  position: relative;
  margin-left: 31px;
  color: $pink;
  font-size: 12px;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    left: -31px;
    top: 50%;
    transform: translateY(-50%);
    width: 13px;
    height: 12px;
    background-image: url("../img/catalog/gallery/heart.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    grid-area: like;
    margin: 0;

    &::after {
      left: auto;
      right: 0;
    }
  }
}
