.comment {
  padding: 20px 17px;
  background-color: $grey;
  color: $dark-blue-desaturarion;
}

.comment__data {
  margin: 0;
  margin-bottom: 14px;
}

.comment__author {
  font-weight: 700;
}

.comment__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.comment__text {
  margin: 0;
  margin-bottom: 23px;
}

.comment__like {
  color: $pink;
  font-size: 12px;
  text-transform: uppercase;
}
