.hero {
  padding-top: 36px;
}

.hero__title {
  margin: 0;
  margin-bottom: 51px;
  min-height: 171px;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}

.hero__wrapper {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: $white;
  color: $dark-blue-desaturarion;
}

.hero__subtitle {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
