// Глобальные стили и блоки

@import "global/variables.scss";
@import "global/page-header.scss";
@import "global/page-footer.scss";
@import "global/slider.scss";

// index.html

@import "index/download.scss";
@import "index/platform.scss";
@import "index/advantages.scss";
@import "index/research.scss";
@import "index/reviews.scss";
@import "index/prices.scss";
@import "index/table.scss";
@import "index/contacts.scss";

// catalog.html

@import "catalog/hero.scss";
@import "catalog/panorama.scss";
@import "catalog/comment.scss";
@import "catalog/gallery.scss";
@import "catalog/correction.scss";

// form.html

@import "form/form.scss";
@import "form/form-content.scss";
@import "form/form-group.scss";
@import "form/popup.scss";


@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
  src: url("../fonts/opensans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2");
  src: url("../fonts/opensansbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2");
  src: url("../fonts/opensanslight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-body {
  margin: 0;
  padding: 0;
  background-color: $dark-blue;
  background-image: url("../img/back--mobile.png");
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-position: top center;
  font-family: "Open Sans", "Arial", sans-serif;
  color: $white;
  font-size: 14px;
  line-height: 24px;
  overflow-x: hidden;

  @media (min-width: $tablet-width) {
    background-image: url("../img/back--tablet.png");
    background-size: auto 18%;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    background-image: url("../img/back--desktop.png");
    background-size: 2600px auto;
  }

}

.lead {
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 40px;
  }


  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: normal;
  }

}
