.advantages {
  position: relative;
  padding-top: 41px;
  padding-bottom: 318px;
  background-color: $white;
  background-image: url("../img/page-content/advantages/advantages-background--mobile.svg");
  background-repeat: no-repeat;
  background-size: 1172px 828px;
  background-position: center bottom;
  color: $dark-blue-desaturarion;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
    padding-bottom: 42px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url("../img/page-content/advantages/advantages-background--tablet.svg");
    background-size: 1200px 510px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 62px;
    padding-bottom: 51px;
    padding-left: 65px;
    padding-right: 65px;
    background-image: url("../img/page-content/advantages/advantages-background--desktop.svg");
    background-size: 100% auto;
    background-position: center 380px;
  }
}

.advantages__lead-box {
  margin-bottom: 112px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 106px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 413px;
    padding: 0;
  }
}

.advantages__lead {
  margin: 0;
}

.advantages__lead:not(:last-child) {
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.advantages__center {

  @media (min-width: $tablet-width) {
    position: relative;
    margin: 0 auto;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  row-gap: 31px;
  margin: 0 auto;
  padding: 0;
  width: 280px;
  list-style: none;

  @media (min-width: $tablet-width) {
    row-gap: 35px;
    margin: 0;
    margin-left: auto;
    padding: 0;
    width: 310px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: auto;
  }
}

.advantages__item {
  @media (min-width: $desktop-width) {
    position: relative;
    margin: 0;
    width: 300px;
  }
}

.advantages__image-wrapper {
  @media (min-width: $desktop-width) {
    &::after {
      content: "";
      position: absolute;
      z-index: 0;
      top: -8px;
      width: 300px;
      height: 17px;
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, #000 49.80%, rgba(0, 0, 0, 0.00) 93.23%);
      border-radius: 50%;
      opacity: 0.3;
      filter: blur(2px);
    }
  }
}

.advantages__image {
  display: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -301px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
}

.advantages__image--big {
  display: block;
  position: absolute;
  left: 50%;
  bottom: -43px;
  transform: translateX(-50%);
  width: 157px;

  @media (min-width: $tablet-width) {
    width: 268px;
    left: 0;
    bottom: -108px;
    transform: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.advantages__image-src {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.advantages__text-wrapper {
  background-color: $grey;

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 1;
    padding-top: 55px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 12px;
  color: $black;
  font-size: 18px;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
    font-size: 30px;
    text-align: center;
  }
}

.advantages__text {
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 245px;
    text-align: center;
  }
}
