.download {
  background-image: url("../img/page-content/download/hand-back--mobile.png");
  background-position: center 90px;
  background-repeat: no-repeat;
  background-size: 320px auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/page-content/download/hand-back--mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    padding: 0 20px;
    padding-top: 74px;
    padding-bottom: 114px;
    background-image: url("../img/page-content/download/hand-back--tablet.png");
    background-position: center bottom;
    background-size: 620px auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/page-content/download/hand-back--tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 20px;
    padding-top: 99px;
    padding-bottom: 125px;
    background-image: url("../img/page-content/download/hand-back--desktop.png");
    background-position: center bottom;
    background-size: 940px auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/page-content/download/hand-back--desktop@2x.png");
    }
  }
}

.download__center {

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 940px;
  }
}

.download__lead {
  margin: 0 auto;
  margin-top: 23px;
  margin-bottom: 315px;
  width: 280px;
  line-height: 120%;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 31px;
    padding: 0 30px;
    padding-top: 19px;
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;
    padding-top: 0;
    line-height: normal;
  }
}
