.platform {
  padding: 20px;
  padding-top: 28px;
  padding-bottom: 31px;
  background-color: $dark-grey;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 300px;
    background-color: transparent;
  }
}

.platform__button {
  margin: 0 auto;
  margin-bottom: 32px;
  width: 280px;

  &:hover {
    color: $pink;
    background-color: $white;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
    padding: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.platform__center {
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.platform__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 21px;
  padding: 0;
  width: 204px;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }
}

.platform__link {
  display: block;
  line-height: 0;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.platform__description {
  margin: 0 auto;
  max-width: 280px;
  font-weight: 300;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 100%;
  }
}
