.research {
  // display: none;
  padding-top: 102px;
  padding-bottom: 50px;
  background-color: $white;
  color: $dark-blue-desaturarion;
}

.research__lead {
  color: $black;
  font-size: 30px;
  line-height: 36px;
}
.research__link {
  color: $pink;
}
